:root {
    --background-color: #ffffff
}

body {
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--background-color);;
}

a {
    text-decoration: none
}

li {
    list-style-type: none;
}